.banner-section {

    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px;

}

.banner-title {
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 170px;
    margin: 0px;


}

.banner-description {
    color: #FFF;

    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    padding-top: 16px;
    padding-bottom: 177px;
    padding-left: 344px;
    text-align: center;
    margin: 0px;
}

.banner-section {
    clear: both;
}

.discount {
    width: 1600px;
    background: #FFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 0px;


}

.discount h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding-bottom: 48px;

    height: 107px;
}

.discount h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    padding-bottom: 16px;
    height: 29px;
}

.discount h2 {
    height: 58px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding-bottom: 48px;
}

.discount .new-year {
    height: 500px;
    flex-shrink: 0;
    padding-bottom: 0px;
    margin: 0px;

}

.discount {
    clear: both;
}

.welcome-party {
    margin-top: 120px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;


}

.first-container {
    margin-top: 0px;
    margin-left: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-title {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.welcome-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    /* 166.667% */
}

.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    background: transparent;
    margin-top: 48px;
    margin-left: 30px;

}

.year {
    padding-right: 140px;
}

/* .welcome-party {
    clear: both;
} */

.schedule {
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.info {
    padding-top: 80px;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    display: block;
    padding-bottom: 0px;
}

.first {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.info>h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.join-now {
    border: 0px;
    border-radius: 15px;
    background: #F00;
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    height: 60px;
    width: 200px;
    margin-left: 550px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
}

.offer {
    width: 1320px;
    height: 500px;
    background: #FFF;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.offer-first h3 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.offer-first h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.offer-first p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.group96 {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.circle {
    padding: 35px;
    border: 15px solid red;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

.offer-third {
    margin-left: 80px;
}

.offer-third h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-third p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.sale-contain {
    background: #FFF;
    text-align: center;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.sale-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.red-color {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sale-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 28px 0;
}

.sale-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 126px;
    margin-bottom: 70px;
}

.sale-image {
    display: flex;
    justify-content: space-between;
    background-image: url('../resources/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.sale-box {
    position: relative;
}

.sale-propic {
    position: relative;
    bottom: -4px;
}

.discount-image {
    position: absolute;
    bottom: 300px;
    right: 280px;

}

.awesome {
    margin-top: 130px;
    margin-bottom: 50px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.awesome h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.awesome h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 10px;

}

.awesome p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.photos>div img {
    width: 100%;
}

.photos>div img:hover {
    border: 3px solid rgb(28, 0, 92);
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgb(5, 5, 105);
}

.subscription {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: auto;
    margin-right: auto;
}

.subscription-img {
    /* width: 150px;
    height: 150px;
    flex-shrink: 0; */
    text-align: center;
    margin-left: 585px;
    margin-top: 80px;

}

.sub-text {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.sub-para {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 212px;
    /* 160% */
}

input[type="text"] {
    margin-top: 30px;
    margin-left: 336px;
    position: relative;
    padding: 25px 250px 25px 30px;
    border-radius: 50px 0 0 50px;
    border: 0;
}

input[type="submit"] {
    position: relative;
    padding: 25px 58px;
    border-radius: 0 50px 50px 0;
    color: #FFF;
    border: 0;
    background-color: #F00;
    font-family: inter;
    font-weight: bold;
    left: -5px;
    cursor: crosshair;
}

input[type="submit"]:hover {
    background-color: rgb(41, 0, 112);
}